@layer base, utils, components;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';

@import '@webtui/css/base.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/badge.css';
/* ... */

@import '@webtui/plugin-nf';
@import '@webtui/theme-catppuccin';

@layer base {
*,::after,::before,::backdrop,::file-selector-button {  box-sizing: border-box;  border: 0 solid;}

  :root {
    --font-family: "JetBrains Mono", Menlo, Monaco, monospace, "Symbols Nerd Font";
  }
}

@theme {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;

    /* Background / Foreground Colors */
    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;

    --color-background0: var(--base);
    --color-background1: var(--surface0);
    --color-background2: var(--surface1);
    --color-background3: var(--surface2);

    --color-foreground0: var(--text);
    --color-foreground1: var(--subtext1);
    --color-foreground2: var(--overlay2);
};
