---
const { class: className, ...rest } = Astro.props;
---

<div
  id="container"
  class:list={[
    "min-h-screen overflow-hidden w-full bg-no-repeat bg-fixed bg-gradient-to-br from-background0 to-background1",
    className,
  ]}
  {...rest}
  ]
>
  <slot />
</div>
